/* My Theme */

.theme-base-10 .sidebar {
  background-color: #455a64;
}

.theme-base-10 .content a, .theme-base-10 .related-posts li a:hover {
  color: #1c313a;
}

.top-nav-bar {
  font-size: 1.25rem;
  text-align: center;
  padding-bottom: 2rem;
  font-family: "Poppins", serif;
}
.content {
  padding-top: 2rem;
}

@media (min-width: 48em) {
  .top-nav-bar {
    text-align: left;
    padding-bottom: 4rem;
  }
  .content {
    padding-top: 4rem;
  }
}

.top-nav-bar a {
  text-decoration: none;
  margin: 0 0.5rem;
}

.top-nav-bar a.active {
  font-weight: bold;
}
