/* My Theme */
.theme-base-10 .sidebar {
  background-color: #455a64;
}
.theme-base-10 .content a, .theme-base-10 .related-posts li a:hover {
  color: #1c313a;
}

/* Nav bar CSS */
.content {
  padding-top: 0;
}

.top-nav-bar {
  font-size: 1.25rem;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: "Poppins", serif;

  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}
@media (min-width: 48em) {
  .top-nav-bar {
    text-align: left;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
}

.top-nav-bar a {
  margin: 0 0.5rem;
}

.top-nav-bar a:first-of-type {
  margin-left: 0;
}

.top-nav-bar a:last-of-type {
  margin-right: 0;
}

.top-nav-bar a.active {
  font-weight: bold;
}

/* Project summary CSS */
.project-summary {
  margin-bottom: 1rem;
  text-align: justify;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.project-summary img {
  display: none;
  vertical-align: top;
  margin: 0;
  float: left;
  width: 25%
}
@media (min-width: 68em) {
  .project-summary img {
    display: inline-block;
  }
}

.project-summary h1 {
  margin: 0;
}

.project-summary div {
  height: 100%
  width: 100%;
  display: inline-block;
  vertical-align: top;
  float: left;
}
@media (min-width: 68em) {
  .project-summary div {
    padding-left: 1rem;
    width: 75%
  }
}

.project-summary ul {
  list-style: none;
  padding: 0;
}

.project-summary p {
  text-overflow: ellipsis;
  overflow: hidden;
}
