<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }} <a href="{{ site.baseurl }}about">Read More</a></p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.github }}">GitHub</a>
      <a class="sidebar-nav-item" href="{{ site.linkedin }}">LinkedIn</a>
      <a class="sidebar-nav-item" href="{{ site.twitter }}">Twitter</a>
      <a class="sidebar-nav-item" href="{{site.baseurl}}{{ site.cv }}">Download CV</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
